[project]
	description = Vagrantfiles 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/askb (askb)
[access "refs/for/refs/*"]
	read = group user/askb (askb)
	push = group user/askb (askb)
	label-Code-Review = -2..+2 group user/askb (askb)
	label-Verified = -1..+1 group user/askb (askb)
	rebase = group user/askb (askb)
	removeReviewer = group user/askb (askb)
	submit = group user/askb (askb)
[access "refs/heads/*"]
	read = group user/askb (askb)
	create = group user/askb (askb)
	push = +force group user/askb (askb)
	pushMerge = group user/askb (askb)
[access "refs/tags/*"]
	push = +force group user/askb (askb)
	pushTag = group user/askb (askb)
	pushSignedTag = group user/askb (askb)
